html, body {
    margin: 0;
    padding: 0;

    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    /*letter-spacing: 1px;*/
    line-height: 24px;
}

body {

    display: flex;
    flex-direction: row;
    justify-content: center;

    /*text-align: center;*/

    /*height: 100%;*/

    /*padding-bottom: 100px;*/
    /*padding-top: 150px;*/

    background-color: #d7d7dd;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    /*color: #35a8d8;*/
    color: rgba(20, 137, 181, 0.76);
}

main {
    /*height: 100%;*/
    position: absolute;
    width: 700px;
    min-height: 100%;

    padding-bottom: 20px;
    padding-top: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    overflow: hidden;
}

.block {
    position: relative;

    box-sizing: border-box;

    /*margin-top: 50px;*/
    padding: 20px;
    width: 100%;
    max-width: 700px;
    /*height: 250px;*/

    margin-top: 20px;

    background-color: white;

    /*border: 1px solid red;*/

    z-index: 1;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: box-shadow 1s ease-in-out;

    /*border-radius: 2px;*/
    overflow: hidden;
}

.block:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.block > div {
    padding-left: 5px;
    padding-right: 5px;
}

.block > div:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.name {
    font-weight: 400;
}

span {
    float: right;
}

.controls {
    margin-top: 10px;
    padding: 10px;

    background-color: rgba(0, 0, 0, 0.1);
}

.controls > div {
    margin-left: 10px;
}

.controls > div:hover {
    cursor: pointer;
    color: red;
}

.buttons {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.buttons:hover {
    background-color: transparent !important;
}

.buttons > div {
    padding-right: 10px;
}

.buttons > div:hover {
    cursor: pointer;
    color: red;
}

.paper {
    background: rgba(255, 255, 255, 0.7);
    padding: 20px;

    overflow: hidden;
}